:root {
    --lightPurple: #8456e5;
    --lightPurpleHover: #6d3be3;
    --customTextColor: #1c0a44;
    --inputBorderColor: #c5b8e4;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

@media (min-width: 200px) {
    .main {
        width: 90vw;
    }
}

@media (min-width: 1000px) {
    .main {
        width: 40vw;
    }
}

.headerDiv {
    display: flex;
    justify-content: start;
    font-size: 125%;
}

.headerDiv:first-child {
    margin-top: 3rem;
}

.headerDiv2 {
    margin-top: 3rem;
}

.photoDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #ffffff;
}

.photoMessage {
    font-size: 90%;
    color: var(--lightPurple);
    font-weight: 300;
}

.photoMessage1 {
    text-decoration: underline;
    cursor: pointer;
}

.photoMessage2 {
    opacity: 0.7;
    color: #626262;
}

.photoMessagePresent {
    color: var(--customTextColor);
}

.formControl:active {
    border: 3px solid mediumpurple;
}

.formLabel {
    opacity: 0.7;
}

.formControl {
    border-radius: 0.3rem;
    border-color: var(--inputBorderColor);
    border-width: 0.00000000000001rem;
}

.customColor {
    color: var(--customTextColor);
}

.rangeTopLabels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.rangeTopLabel {
    font-size: 80%;
    color: var(--customTextColor)
}

.photoControl {
    display: none;
}

.submitButton {
    width: 100%;
    background-color: var(--lightPurple);
    color: #ffffff;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
}

.submitButton:hover {
    background-color: var(--lightPurpleHover);
}

.submitButton:disabled {
    opacity: 0.5;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: rgba(200, 182, 241, 0.8);
    height: 0.3vh;
    border-radius: 4px;
    outline: none;
    border: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    color: #6d3be3;
    height: 15px;
    width: 15px;
    background: var(--lightPurple);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-progress {
    background: var(--customTextColor)!important;
}

.errorMessage {
    font-size: 80%;
    color: var(--customTextColor);
    text-align: left;
    padding-left: 3px;
    opacity: 0.8;
    font-weight: 300;
}

.errorControl {
    background-color: rgba(239, 50, 50, 0.1);
    border: 2px solid #f92c2c;
}

.rangeInput .sliderValue {
    position: relative;
    width: 100%;
}

.rangeInput .sliderValue span {
    position: absolute;
    height: 45px;
    width: 45px;
    color: var(--lightPurple);
    font-size: 90%;
    top: -40px;
    transform: translateX(-50%);
    line-height: 55px;
    z-index: 2;
}

.rangeInput .sliderValue span:after {
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    background: #ffffff;
    left: 50%;
    transform: translateX(-50%) ;
    border: 0.001rem solid #c5b8e4;
    z-index: -1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.dateCalendar {
    background-color: #fff;
    border-radius: 10px;
    border: 0.1rem solid var(--inputBorderColor);
}

.dateCalendarWeb {
    width: 120%!important;
}

.dateCalendarMobile {
    width: 100%!important;
}

.dateEventInfoP {
    font-size: 90%;
    text-align: left;
}

.datesSubContainerWeb {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.datesSubContainerMobile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.timesContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.timesContainerMobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.timeDiv, .timeDivMobile {
    display: block;
    padding: 5px;
    border: 0.001rem solid var(--inputBorderColor);
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
}

.timeDiv {
    width: 100%;
}

.timeDivMobile {
    min-width: 175px;
    margin-right: 1rem;
    margin-top: 0.5rem;
}


.timeDivSelected{
    border: 2px solid mediumpurple;
}

.timesSubContainerMobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
